*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #ffffff;
  font-family: 'DotGothic16', sans-serif;
  background:url("./gifs/162-1626966_video-game-wallpaper.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  letter-spacing: 2px;
  
}
#game{
  width: 600px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  border: 1px dashed white;
  
  
}
#game div {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  
} 
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  display: none;
  
}
.heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.heading-container h1, #rules{
  color: rgb(255, 217, 0);
  font-size: 35px;

  margin: 5px;
  
}
.heading-container ul li{
  margin-top: 20px;
  color: rgb(255, 217, 0);
  font-size: 20px;
  list-style:circle;
}

.result{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.result p{
  font-size: 1.5rem;
  display: none;
}
.result a{
  text-decoration: none;
}

.result p.won{
  display: none;
  color: rgb(255, 217, 0);
  font-size: 20px;
  
}
#replay{
  display: none;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #c179ff;
  margin: 10px;
}
#play{
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  background-color: #c179ff;
  margin-top: 100px;
}
@media all and  (max-width:600px) {
  body{
    
    background-size: auto;
  }
  #game{
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dash;
   
    
  }
  #game div {
    width: 50px;
    height: 50px;
    display: inline-block;
    
  }
  .heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .heading-container h1, #rules{
    color: rgb(255, 217, 0);
    font-size: 20px;
    margin: 20px;
    
  }
  .heading-container ul li{
    margin-top: 10px;
    color: rgb(255, 217, 0);
    font-size: 15px;
    list-style:circle;
  }
  .result{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
     
  }
  .result p{
    font-size: 15px;
  }
#result{

  margin-left: 10px;

}
  #replay{
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.9vw;
  }
  #play{

    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    background-color: #c179ff;
    margin: 20px;
  }
  #won{
    font-size: 20px;
  }
}
